@import "../../styles/theme.scss";

$player-image-size: 45px;

.playerRow {
    background-color: $iu-cream;
    display: flex;
    padding: 6px 12px 12px 12px;
    justify-content: space-between;
}

.imageContainer {
    width: $player-image-size;
    height: $player-image-size;
    background-color: $bsu-light-gray;
    border: solid 2px $bsu-dark-gray;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.playerImage {
    height: 100%;
    position: relative;
    right: 13%;
    top: 12%;
}
.left2 {
    display: flex;
    align-items: center;
}

.player {
    display: flex;
    color: $iu-base-black;
}

.playerName {
    font-weight: 700;
}

.playerPosition {
    background-color: #e773a1;
    color: $iu-cream;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.65rem;
    margin: 0px 6px;
}
.rosteredBy {
    font-size: 0.65rem;
    letter-spacing: 0.1px;
    color: $bsu-dark-gray;
}

.playerOwner {
    font-size: 0.65rem;
    font-weight: 700;
    margin-left: 4px;
}

.keeperCost {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keeperValue {
    background-color: $iu-crimson;
    padding: 6px;
    color: $iu-cream;
    font-weight: 700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keeperLabel {
    font-size: 0.5rem;
    color: $bsu-dark-gray;
    margin-top: 4px;
}

.valueSuffix {
    font-size: 0.6rem;
}
