@import "../../styles/theme.scss";

$player-image-size: 63px;

.playerRow {
    background-color: $iu-cream;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px,
        rgba(192, 192, 192, 0.3) 0px 0px 24px 0px;
}

.imageContainer {
    width: $player-image-size;
    height: $player-image-size;
    background-color: #dadedf;
    border: solid 2px $bsu-dark-gray;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
}

.playerImage {
    position: relative;
    // right: 16%;
    top: 12%;
    &.defense {
        top: 0;
        padding: 3px;
    }
}
.left2 {
    display: flex;
    // align-items: center;
}

.player {
    display: flex;
    color: $iu-base-black;
}

.playerName {
    font-weight: 700;
}

.playerPosition {
    color: $iu-cream;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.65rem;
    min-width: 25px;
    margin: 4px 0;
    text-align: center;
    background-color: $bsu-light-gray;
    color: $bsu-dark-gray;
    border: solid 2px $bsu-dark-gray;

    &.QB {
        background-color: $qb-color;
        border-color: $qb-color;
        color: $iu-cream;
    }

    &.RB {
        background-color: $rb-color;
        border-color: $rb-color;

        color: $iu-cream;
    }

    &.WR {
        background-color: $wr-color;
        border-color: $wr-color;

        color: $iu-cream;
    }

    &.TE {
        background-color: $te-color;
        border-color: $te-color;

        color: $iu-cream;
    }

    &.K {
        background-color: $k-color;
        border-color: $k-color;

        color: $iu-cream;
    }

    &.DEF {
        background-color: $def-color;
        border-color: $def-color;

        color: $iu-cream;
    }
}
.rosteredBy {
    font-size: 0.65rem;
    letter-spacing: 0.1px;
    color: $bsu-dark-gray;
}

.playerOwner {
    font-size: 0.65rem;
    font-weight: 700;
    margin-left: 4px;
}

.keeperCost {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $iu-cream;
    border-radius: 4px;
    background-color: $bsu-cardinal-red;
    height: fit-content;
    padding: 6px;
    width: 61px;
}

.keeperValue {
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
}

.keeperLabel {
    font-size: 0.5rem;
    font-size: 8px;
}

.valueSuffix {
    font-size: 0.6rem;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68px;
}

.value {
    margin-top: 4px;
    font-size: 9px;
    color: $bsu-dark-gray;
    &.green {
        color: green;
    }

    &.red {
        color: red;
    }
}

.badges {
    display: flex;
    gap: 4px;
    align-items: center;
}

.hcIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px transparent;
    box-sizing: border-box;

    i {
        font-size: 10px;
        display: flex;
        justify-content: center;
    }

    &.cold {
        background-color: #eaf6fe;
        border-color: #36a7f4;

        i {
            color: #36a7f4;
        }
    }

    &.hot {
        background-color: #fff6e5;
        border-color: #ffaa00;

        i {
            color: #ffaa00;
        }
    }
}
