@import "../../styles/theme.scss";

.mobileApp {
    background-color: $bsu-dark-gray;
    height: 100vh;
    color: $bsu-cardinal-red;
    font-size: 14px;
}

//Header

$image-size: 18px;

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    color: $iu-cream;
    background-color: $iu-crimson;
}

.left {
}

.middle {
}

.leagueInfo {
    display: flex;
}

.leagueImage {
    background-color: $iu-midnight;
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
    margin-right: 6px;
}

.leagueName {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 15px;
}

.pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4px;
    background-color: $iu-cream;
    width: 100%;
}

.page {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.right {
}

//Card

.sectionTitle {
    font-size: 1rem;
    font-weight: 700;
    margin: 10px 10px;
    color: $iu-cream;
}

.divider {
    background-color: $bsu-cardinal-red;
    height: 1px;
    width: 80%;
}

.body {
    padding: 0 25px;
}
