// @import "../../styles/theme.scss";

.rule {
    background-color: $iu-cream;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    padding: 10px 12px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px,
        rgba(192, 192, 192, 0.3) 0px 0px 24px 0px;
    color: $bsu-dark-gray;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    color: $iu-crimson;
}

.body {
    font-size: 12px;
    margin-top: 4px;
    padding: 0 14px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.listHeader {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    color: $bsu-cardinal-red;
    margin-bottom: 8px;
}

.newBadge {
    background-color: $iu-midnight;
    color: $iu-cream;
    font-size: 8px;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 4px;
    width: fit-content;
}

.listItem {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    height: fit-content;

    &:before {
        display: flex;
        justify-content: center;
        align-items: center;
        content: "";
        margin-right: 6px;
        font-size: 24px;
        width: 5px;
        height: 5px;
        background-color: $bsu-dark-gray;
        border-radius: 100%;
    }
}

.bolded {
    margin-left: 4px;
}

.divided {
    border-bottom: solid 2px $iu-crimson;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
