@import "../../styles/theme.scss";

.rule {
    background-color: $iu-cream;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px,
        rgba(192, 192, 192, 0.3) 0px 0px 24px 0px;
    color: $bsu-dark-gray;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    color: $bsu-cardinal-red;
}

.body {
    font-size: 12px;
    margin-top: 4px;
    padding: 0 14px;
}

.list {
    display: flex;
    flex-direction: column;
}
