.title {
    color: white;
    font-size: 20px;
    padding: 20px;
    font-weight: 800;
}

.main {
    background-color: #293141;
    border: solid 1px #3a465b;
    border-radius: 10px;
}

.tabs {
    display: flex;
    gap: 8px;
    padding: 24px;
}
