@import "../../styles/theme.scss";

.navBar {
    background-color: $indy-blue;
    box-shadow: rgba(0, 0, 0, 0.47) 0px 1px 2px 0px;
    padding: 12px 16px 12px 12px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    color: white;
    flex-direction: row;
}

.logo {
    width: 190px;
    height: 52px;
    margin: 0 90px 0 32px;
    background-color: $indy-red;
}

.navOptions {
    display: flex;
    height: 70px;
    border-left: 1px solid $indy-white;
    padding-left: 32px;
}

.option {
    font-size: 19px;
    padding: 18px;
    text-transform: uppercase;
    margin-right: 32px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $indy-blue;
        background-color: $indy-white;
    }
}
