$off-black: #252525;

$indy-blue: #002368;
$indy-red: #c0032c;
$indy-white: #ffffff;
$indy-gold: #817549;
$indy-black: #000000;

$background-grey: #eeeeee;

$qb-color: #ff2a6d;
$rb-color: #00ceb8;
$wr-color: #58a7ff;
$te-color: #ffae58;
$k-color: #bd66ff;
$dst-color: #7988a1;
$def-color: #7988a1;
