$off-black: #252525;

$indy-blue: #002368;
$indy-red: #c0032c;
$indy-white: #ffffff;
$indy-gold: #817549;
$indy-black: #000000;

$background-grey: #eeeeee;

$qb-color: #ff2a6d;
$rb-color: #00ceb8;
$wr-color: #58a7ff;
$te-color: #ffae58;
$k-color: #bd66ff;
$dst-color: #7988a1;
$def-color: #7988a1;

//*  School Primary Colors *\\
$bsu-cardinal-red: #ba0c2f;
$bsu-white: #ffffff;

$iu-crimson: #990000;
$iu-cream: #edebeb;

//*  School Primary Colors *\\
$bsu-black: #000000;
$bsu-dark-gray: #54585a;
$bsu-light-gray: #e6e7e8;
$bsu-dark-red: #79242f;

$iu-dark-midnight: #01426a;
$iu-midnight: #006298;
$iu-dark-majestic: #512a44;
$iu-majestic: #66435a;
$iu-black: #191919;
$iu-base-black: #243142;
